body,html
{
	margin:0;
	padding:0
}
body
{
	font-size:1.2em;
	color:rgba(0,0,0,0.96);
	line-height:1.6em;
	vertical-align:baseline;
	-webkit-text-size-adjust:100%;
	font-family:'Roboto', sans-serif
}
p
{
	margin:0 0 20px

}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.clearfix:after
{
	display:block;content:'';
	clear:both;
	float:none
}
.bold{
	font-weight: 600; 
	padding: 0 10%;
	margin: 60px 0;
}
.section
{
	padding:85px 0
}
.container
{
	margin:0 auto;
	max-width:960px
}
h1,h2,h3,h4,h5
{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color: #1badd6;
}
h1{
	font-size: 2.3em;
}
label{
	text-align: center;
}

.center{
	text-align: center;
}
.white{
	color: #FFF;
}
#phrases{
	padding: 15px;
	margin-top: 15px;
	margin-right: 20px;
}
.tac
{
	text-align:center;
}
#header{
	background: url('./images/background.jpg') center top;
	background-repeat: no-repeat;
	min-height: 650px;
	background-size: cover;
}
.container h1{
	padding-top: 110px;
	padding-bottom: 30px;
}
#results, #gender, #change{
	background-color: #1badd6;
}
.foot {
    background: #111;
    color: white;
}
a
{
	color:inherit;
	text-decoration:none
}
.sticky-share
{
	position:absolute;
	top:20px;
	right:25px	
}
.share
{
	padding-top:30px;
	text-align: center;	
}
h1,h2,h3,h4
{
	margin:50px 0
}
h2
{
	font-size:2em
}
.cta
{
	display:inline-block;
	font-size:1em;
	font-weight:600;
	text-decoration:none;
	padding:10px 35px;
	color:white;
	border-radius:2px;
	margin-right:20px;
	cursor: pointer;
}
.cta.tw
{
	background:#4099ff;
}
.cta.fb
{
	background:#3b5998;
}
.cta:last-of-type
{
	margin-right:0;
}
.cta i
{
	margin-right:5px;
}
.submit{
	background-color: #dfdfdf;
	color: #1badd6;
	margin-top: 50px;
	margin-left: 15px;
    border: 2px solid #fff;
}
.getHelp{
	background-color: #dfdfdf;
	color: #1badd6;
	margin-top: 30px;
    border: 2px solid #fff;
}
img.top {
    vertical-align: middle;
}
.section-small {
  padding: 25px 0;
}
@media (max-width: 1000px)
{
	.container
	{
		width:auto;
		max-width:none;
		padding:60px 20px
	}
	.results
	{
		padding:40px 0;
	}
	.container h1 {
	  padding-top: 50px;
	}
	
}
@media (max-width: 750px)
{
	body
	{
		font-size:.9em
	}
	.section
	{
		padding:50px 0
	}
	.container {
	  width: auto;
	  max-width: none;
	  padding: 30px 20px;
	}
	.cta:last-of-type
	{
		margin-bottom:0
	}
	.sticky-share
	{
		top: 10px;
		position: relative;
		margin: 0 auto;
		text-align: center;
		display: block;
		right: 0;
	}
	.share
	{
	   position: relative;
	   margin: 0 auto;
	   text-align: center;
	   display: block;
	}
	#header{
		min-height: 500px;
	}
	#main, #results, #change{
		padding: 10px 0;
	}
	#phrases{
		margin-right: 0;
	}
	.submit{
		margin-left: 0px;
	}
	.container h1 {
	  padding-top: 5px;
	  padding-bottom: 10px;
	}
	.getHelp{
		margin-top: 0;
	}
}
